/*====GENERAL SETTINGS====================================*/
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Graphik';
  font-weight: 400;
}

h1, p, li, nav, button {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
}

.subtitle {}

.btn {
  cursor: pointer;
  font-weight: 600
}

.btn-type1 {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-type2 {
  background-color: #FF6336;
  color: white;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

/*=========================================================*/