/*====GENERAL SETTINGS====================================*/
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Graphik';
  font-weight: 400;
}

.header__menu,
.section2__menu {
  list-style: none;
}

.flex {
  display: flex;
}

.section4 {
  background-color: #FFF8E4;
  padding-bottom: 150px;
}

.section5 {
  padding: 154px 0 187px 0;
}

.section6 {
  background-color: #C9E8F2;
}

.section7{
  background-color: #DABC98;
}

.section9 {
  background-color: #FF9C7D;
}

.section10 {
  padding-top: 92px;
}

*nav {
  list-style: none;
}

.ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
li,
nav,
button {
  padding: 0;
  margin: 0;
}

.mb30 {
  margin-bottom: 30px;
}

.title {
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

.container2 {
  max-width: 784px;
  margin: 0 auto;
}

.container1330 {
  max-width: 1330px;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  font-weight: 600
}

.btn-type1 {
  background-color: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn-type2 {
  background-color: #FF6336;
  color: white;
  border: none;
}

.btn-type3 {
  background-color: black;
  color: white;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

/*=========================================================*/
