.header {
  margin-bottom: 97px;

  line-height: 95px;
  height: 95px;
  border-bottom: 1px solid #E5E5E5;
}

.head {
  display: flex;
  justify-content: space-between;
}

.header__bar {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 51px 0 0;
}

.header__menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__menu-item {
  font-size: 15px;
}

.header__menu-item:first-child,
.header__menu-item:nth-child(2) {
  margin-right: 57px;
}

.header__menu-item:nth-child(3) {
  margin-right: 42px;
}

.header__menu-item:nth-child(4) {
  margin-right: 49px;
}

.header-btn1 {
  padding: 1px 36px;
  margin-right: 10px;
  line-height: 45px;
}

.header-btn2 {
  padding: 2px 22px;
  line-height: 45px;
}

/*--------------</header>-------------------------*/
.section1 {
  background-image: url(../images/back.svg);
  background-repeat: no-repeat;
  background-position: top 54px right;
}

.flash {
  padding: 32px 758px 0 20px;
}

.fs65 {
  font-size: 65px;
  margin: 0 0 51px 0;
  font-weight: 600;
  line-height: 70px;
  color: #000000;
}



.fs25 {
  margin: 0 0 50px 0;
  padding-right: 81px;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
}

.section1-btn1 {
  margin: 0 10px 25px 0;
  padding: 2px 41px 2px 42px;
  line-height: 60px;
}

.section1-btn2 {
  padding: 1px 29px;
  line-height: 60px;
}

.review {
  margin-bottom: 172px;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
}

/*-------------</section1>------------------------*/
.section2 {
  background-color: #FF9C7D;
  padding: 10px 0px;
  margin-bottom: 90px;
}

.section2__title {
  padding: 108px 270px 0 350px;
  text-align: center;
}

.section2__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 94px 0;
  padding: 70px 0 0 0;
}

/*-------------</section2>------------------------*/
.section3__article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 250px;
}

.section3__box1 {
  max-width: 490px;
}

.section3__box2 {
  max-width: 440px;
}

.section3__box3,
.section3__box4 {
  max-width: 510px;
}

.container3__special-link {
  text-decoration: underline;
}

.section3__link1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.section3__article2 {
  flex-direction: row-reverse;
}

.box__card4 {
  position: relative;
}

.tablet {
  position: absolute;
  left: 66px;
  top: 119px;
}

#mb150 {
  margin-bottom: 150px;
}

/*-------------</section3>------------------------*/
.section4-art {
  padding: 0 40px;
}

.section4__title {
  text-align: center;
  padding: 120px 0 80px 0;
}

.section4__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.section4__menu-item {
  margin-right: 110px;
}

.section4__menu-item:nth-child(3),
.section4__menu-item:nth-child(6) {
  margin-right: 0;
}

.section4__menu-item:nth-child(1),
.section4__menu-item:nth-child(2),
.section4__menu-item:nth-child(3) {
  margin-bottom: 78px;
}

.section4__menu-item>a {
  max-width: 315px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section4__menu-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}

.section4__menu-title:nth-of-type(1) {
  padding: 26px 0 20px 0;
}

.section4__menu-subtitle {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
